* {
  margin: 0;
  padding: 0;
  /* Primary */
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  /* Neutral */
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-blue);
}

main {
  height: 347px;
  width: 315px;
  padding: 20px;
  background: var(--dark-grayish-blue);
  font-family: 'Manrope', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 30px 50px 80px 0px hsla(0, 0%, 0%, 0.1);
  position: relative;
}

h1 {
  color: var(--neon-green);
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

p {
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size: 24px;
  color: var(--light-cyan);
  margin-top: 16px;
}

.player-img1 {
  position: absolute;
  top: 330px;
}

.player-img2 {
  opacity: 0;
}

.button {
  background-color: var(--neon-green);
  height: 64px;
  width: 64px;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 360px;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0px 0px 40px #53ffaa;
}

@media (min-width: 600px) {
  main {
    height: 364px;
    width: 540px;
  }
  h1 {
    font-size: 13px;
    margin-top: 48px;
  }
  p {
    font-size: 28px;
  }
  .player-img1 {
    display: none;
  }
  .player-img2 {
    opacity: 100;
    position: absolute;
    top: 300px;
  }
}
